.avatar {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.avatar-wrapper {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 2rem;
  background-color: #f5f5f5;
  padding: 2rem;
  width: 50rem;
  height: 35rem;
  overflow-y: scroll;
}
